/* all main content (below navbar) */
.main-content{
  padding-top: 6%;
}


/* login and register pages */
body > .grid {
  height: 100%;
}

.column {
  /* padding-top: 50 px; */
  max-width: 450px;
}
