/* all main content (below navbar) */
.main-content{
  padding-top: 8%;
  padding-bottom: 8%;
}


/* login and register pages */
body > .grid {
  height: 100%;
}

#welcomeForm {
  margin-top: 4%;
}

.column {
  /* padding-top: 50 px; */

  max-width: 450px;
}
